@use "variables" as var;

@each $name, $width in var.$container-width {
  .container-#{$name} {
    display: flex;
    width: $width;
    padding: 50px 25px;

    @media screen and (max-width: $width) {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      padding: 25px 10px;
    }
  }
}

.container-main-100 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-main-100[data-disable-scroll="true"] {
  overflow: hidden;
}
