@use "variables" as var;

@each $name, $width in var.$container-width {
  .container-#{$name} {
    display: flex;
    width: $width;
    padding: 50px 25px;

    @media screen and (max-width: $width) {
      width: 100%;
    }
  }
}

.container-main-100 {
  width: 100vw;
  height: calc(100vh);
}
