@use "variables" as *;
@use "sass:map";

// INDENTS
@each $name, $ind in $indents {
  .p-#{$name} {
    padding: $ind;
  }
  .p-v-#{$name} {
    padding-top: $ind;
    padding-bottom: $ind;
  }
  .p-h-#{$name} {
    padding-left: $ind !important;
    padding-right: $ind !important;
  }
  .p-t-#{$name} {
    padding-top: $ind;
  }
  .p-b-#{$name} {
    padding-bottom: $ind;
  }
  .p-r-#{$name} {
    padding-right: $ind;
  }
  .p-l-#{$name} {
    padding-left: $ind;
  }

  .m-#{$name} {
    margin: $ind;
  }
  .m-v-#{$name} {
    margin-top: $ind;
    margin-bottom: $ind;
  }
  .m-h-#{$name} {
    margin-left: $ind;
    margin-right: $ind;
  }
  .m-t-#{$name} {
    margin-top: $ind;
  }
  .m-b-#{$name} {
    margin-bottom: $ind;
  }
  .m-r-#{$name} {
    margin-right: $ind;
  }
  .m-l-#{$name} {
    margin-left: $ind;
  }

  .m-ng-#{$name} {
    margin: -$ind;
  }
  .m-ng-v-#{$name} {
    margin-top: -$ind;
    margin-bottom: -$ind;
  }
  .m-ng-h-#{$name} {
    margin-left: -$ind;
    margin-right: -$ind;
  }
  .m-ng-t-#{$name} {
    margin-top: -$ind;
  }
  .m-ng-b-#{$name} {
    margin-bottom: -$ind;
  }
  .m-ng-r-#{$name} {
    margin-right: -$ind;
  }
  .m-ng-l-#{$name} {
    margin-left: -$ind;
  }
}

.ind-none {
  padding: 0;
  margin: 0;
}

// POSITIONING
.p-absolute {
  position: absolute;
}
.p-relative {
  position: relative;
}

// INPUTS
input {
  padding: 10px;
  border-width: 1px;
  border: none;
}
textarea {
  resize: none;
  padding: 10px;
  border: none;
}

button,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding: 20px 40px;
  background-color: map.get($colors, "prm-d");
  color: map.get($colors, "main-b");
  border: none;
  border-radius: 2px;
  text-decoration: none;
  font-size: 1.2rem;

  &:hover {
    background-color: map.get($colors, "prm-b");
    color: map.get($colors, "main-d");
  }
}

.overflow {
  &-y {
    &-scroll {
      overflow-y: scroll;
    }
  }
}

// BORDERS
.border-round-tiny {
  border-radius: 2px;
}

// FONTS
.font-weight-bold {
  font-weight: bolder;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-weight: bolder;
}

h1,
.h1,
.text-s1 {
  font-size: 3rem;
}
h2,
.h2,
.text-s2 {
  font-size: 2.5rem;
}
h3,
.h3,
.text-s3 {
  font-size: 2rem;
}
h4,
.h4,
.text-s4 {
  font-size: 1.75rem;
}
h5,
.h5,
.text-s5 {
  font-size: 1.5rem;
}

// COLORS
@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value;

    &-hover {
      &:hover {
        background-color: $value;
      }
    }
  }

  .border-color-#{$name} {
    border-color: $value;
  }

  .text-color-#{$name} {
    color: $value;

    &-hover {
      &:hover {
        color: $value;
      }
    }
  }

  .btn-#{$name} {
    background-color: $value;

    &-hover {
      &:hover {
        color: $value;
      }
    }
  }
}

// TEXT
.text-align-center {
  text-align: center;
}
