@use "../../css/styles/variables.scss" as var;
@use "sass:map";
$component: "auth-form";

.#{$component}-wrapper {
  width: 100vw !important;
  height: 100vh !important;
}

.#{$component} {
  width: 385px;
  height: 400px;
}

.#{$component} > input {
  height: 50px;
  font-size: 1.2rem;
}
