@use "/src/css/imports.scss" as *;
@use "sass:map";

.component-dictionary {
  .dictionary-item {
    width: 600px;
    max-height: 180px;

    & + .dictionary-item {
      margin-top: 20px;
    }
  }

  .dictionary-item-definition {
    max-height: 90px;
    overflow-y: scroll;
  }

  .dictionary-item-content {
    height: 100%;
    border: 1px solid map.get($colors, "prm");

    &:hover {
      border: 1px solid map.get($colors, "prm-b");
    }
  }

  .dictionary-delete-btn {
    border: none;
    font-size: 1.3rem;
  }

  .word-card-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: $overlay-z-index;
  }

  .word-card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: map.get($colors, "main-sd");
    opacity: $base-overlay-bg-opacity;
  }

  .word-card {
    width: $base-card-width;
    height: $base-card-height;
  }

  .word-card-definition {
    min-height: 270px;
  }

  @include breakpoint-768() {
    .dictionary-item {
      max-height: 330px;
    }
    .dictionary-item-definition {
      max-height: 120px;
      overflow-y: scroll;
    }
  }
}
