.loading-page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .lds-ring div {
    border: 8px solid #fff !important;
    border-color: #fff transparent transparent transparent !important;
  }
}
