@use "/src/css/imports.scss" as *;

$component: "repeat-words-component";
$training-card: "training-card";

.#{$component} {
  .#{$training-card} {
    width: $base-card-width;
    height: $base-card-height;
    min-width: $base-card-width;
    min-height: $base-card-height;
    border-radius: 2px;
  }

  .#{$training-card}-definition {
    max-height: 300px;
    overflow-y: auto;
  }

  @include breakpoint-768() {
    .#{$training-card} {
      width: 100%;
      height: $base-card-height-mobile;
      min-width: auto;
      min-height: auto;
    }
  }
}
