@use "src/css/imports.scss" as *;
$component: "choose-definition";

.#{$component}-container {
  .#{$component} {
    @include setStrictSize($base-card-width, $base-card-height);
    @include bgColorSet("prm");
  }

  .#{$component}-definition {
    max-height: 300px;
    overflow-y: auto;
  }

  @include breakpoint-768() {
    .#{$component} {
      @include resetStrictSize();
    }
  }
}
