@use "../../css/styles/variables.scss" as *;
@use "sass:map";
$component: "addWords";

.component-add-words {
  position: absolute;
  width: 100vw !important;
  height: 100vh !important;
  z-index: $overlay-z-index;
  overflow-x: hidden;

  * {
    font-size: 1.2rem;
  }

  .add-word-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: map.get($colors, "main-sd");
    opacity: $base-overlay-bg-opacity;
  }

  form {
    position: relative;
    width: 385px;
    height: 400px;
    opacity: 1;
    z-index: 2;
  }

  .add-word-definition-input {
    resize: none;
    height: 100%;
    padding: 10px;
    border: none;
  }
}
