@use "../../css/styles/variables.scss" as *;
@use "sass:map";
$component: "header";

header {
  display: flex;
  align-items: center;
  width: 100vw;
  z-index: $header-z-index;

  * {
    color: white !important;
  }

  .#{$component}-add-words-btn-icon {
    position: relative;
    width: 100%;
    height: 100%;

    & > div::before,
    & > div::after {
      position: absolute;
      left: calc(50% - 3px);
      bottom: -20px;
      content: " ";
      width: 6px;
      height: 40px;
      background-color: white;
      border-radius: 2px;
    }

    & > div::before {
      transform: rotate(90deg);
    }
  }

  .#{$component}-btn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 0;
    text-decoration: none;
    font-size: 30px;
  }
}
