@mixin bgColorSet($colorName) {
  background-color: map.get($colors, $colorName);
}
@mixin bgHoverColorSet($colorName) {
  &:hover {
    background-color: map.get($colors, $colorName);
  }
}

@mixin colorSet($colorName) {
  color: map.get($colors, $colorName);
}
@mixin colorHoverSet($colorName) {
  &:hover {
    color: map.get($colors, $colorName);
  }
}

@mixin setStrictSize($width, $height) {
  width: #{$width};
  min-width: #{$width};
  max-width: #{$width};
  height: #{$height};
  min-height: #{$height};
  max-height: #{$height};
}
@mixin setStrictWidth($width) {
  width: #{$width};
  min-width: #{$width};
  max-width: #{$width};
}
@mixin setStrictHeight($height) {
  height: #{$height};
  min-height: #{$height};
  max-height: #{$height};
}

@mixin flexItemMedia() {
  @each $name, $value in $breakpoints {
    @media screen and (max-width: $value) {
      @each $flexItemName, $flexItemValue in $flex-items {
        &.flex-item-#{$name}-#{$flexItemName} {
          width: $flexItemValue;
        }
      }
    }
  }
}

@mixin breakpoint-768 {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin breakpoint-1024 {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
