@use "/src/css/imports.scss" as *;

.training-btn {
  @include setStrictSize(170px, 110px);
  border: none;
}

@include breakpoint-768 {
  .training-btn {
    max-width: none;
    max-height: none;
  }
}
