@use "/src/css/imports.scss" as *;

$component: "spell-check";
$item: #{$component}-card;

.#{$component}-container {
  .#{$item} {
    @include setStrictSize($base-card-width, $base-card-height);
  }

  .#{$component}-input {
    border: 1px solid black;
    height: 40px;
    width: 30px;

    &[data-is-right="true"] {
      color: green;
    }

    &[data-is-right="false"] {
      color: red;
    }

    & + .#{$component}-input {
      margin-left: 10px;
    }
  }
}
