@use "/src/css/imports.scss" as *;

$component: "spell-check";
$item: #{$component}-card;

.#{$component}-container {
  .#{$item} {
    @include setStrictSize($base-card-width, $base-card-height);
  }

  .#{$item}-definition {
    max-height: 300px;
    overflow-y: auto;
  }

  .#{$component}-input {
    border: 1px solid black;
    height: 40px;
    width: 30px;
    pointer-events: initial;

    &[data-is-right="false"],
    &[data-is-right="true"] {
      pointer-events: none;
    }

    &[data-is-right="true"] {
      color: #43a047;
    }

    &[data-is-right="false"] {
      color: #f44336;
    }

    // & + .#{$component}-input {
    //   margin-left: 10px;
    // }
  }

  @include breakpoint-768() {
    .#{$item} {
      @include resetStrictSize();
    }
  }
}
