@use "/src/css/imports.scss" as *;

.close-btn {
  position: absolute;
  left: calc(100% - 30px);
  top: 10px;
  width: 22px;
  height: 22px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &::before,
  &::after {
    position: absolute;
    left: 10px;
    content: " ";
    height: 23px;
    width: 2px;
    @include bgColorSet("main-sd");
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
